@import "tailwindcss";

@theme {
    --color-ieee-gray: #303030;
    --color-ieee-blue: #00629b;
    --font-ieee-mono: "Roboto Mono", monospace;
    --font-ieee-sans: "Space Grotesk", sans-serif;
}

/* * {outline: 1px solid red} */